.OrderPage {
    /* height: 1500px; */
    background-color: #fff;
    align-content: center;
    margin-bottom: 100px;
}

.OrderPage h1 {
    margin: 20px;
    margin-top: 150px;
    text-align: center;
    font-family: Kanit;
    font-style: normal;
    font-weight: bold;
    font-size: 3.5em;
    text-transform: uppercase;
    color: #000;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
}

.OrderPageContainer {
    padding: 0px 50px;
}

.OrderPageContainer h1 {
    font-size: 1.5em;
    text-align: left;
    margin: 50px 0px;
}

.FoodsGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}