.Btn {
    padding: 0.5em;
    padding-left: 2em;
    padding-right: 2em;
    border: 1px solid rgb(243, 117, 43);
    background-color: rgb(243, 117, 43, 0.7);
    color: #fff;
    outline: none;
    font-family: Kanit;
    font-style: normal;
    font-weight: bold;
    font-size: 1em;
    text-transform: uppercase;
    transition: 0.2s ease-out;
}

.Btn:hover {
    cursor: pointer;
    transition: 0.2s ease-out;
    background-color: rgb(243, 117, 0.9);
}